<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Persona</h4>
      </div>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="th-sm">NOMBRES</th>
              <th scope="col" class="th-sm">APELLIDOS</th>
              <th scope="col" class="th-sm">CEDULA</th>
              <th scope="col" class="th-sm">GENERO</th>
              <th scope="col" class="th-sm">ETNIA</th>
              <th scope="col" class="th-sm">ESTUDIANTE</th>
              <th scope="col" class="th-sm">TELEFONO</th>
              <th scope="col" class="th-sm">CELULAR</th>
              <th scope="col" class="th-sm">CORREO PERSONAL</th>
              <th scope="col" class="th-sm">CORREO ESPE</th>
              <th scope="col" class="th-sm">DIRECCION</th>
              <th scope="col" class="th-sm">ACCIONES</th>
            </tr>
          </thead>
          <tbody *ngFor="let persona of personas">
            <tr>
              <td>{{persona.nombre}}</td>
              <td>{{persona.apellido}}</td>
              <td>{{persona.cedula}}</td>
              <td>{{persona.genero.nombre}}</td>
              <td>{{persona.etniaCodigo}}</td>
              <td>{{persona.estudiante.nombre}}</td>
              <td>{{persona.telefono}}</td>
              <td>{{persona.celular}}</td>
              <td>{{persona.correoPersonal}}</td>
              <td>{{persona.correoEspe}}</td>
              <td>{{persona.direccion}}</td>
              <td>
                <input class="editIcon" type="image" src="./../../../assets/img/edit.png" >
                <p></p>
                <input class="editIcon" type="image" src="./../../../assets/img/delete.png"  (click)="deletePersonas(persona)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>